.ResultPage {
  margin: 0;

  & h1 {
    text-align: center;
    margin: 0;
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}