.PageForm2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 200px);

  &__nav {
    width: 100%;
    display: flex;
  }

  & h1 {
    text-align: center;
    margin: 0;
  }

  & form {
    display: flex;
    flex-direction: column;
    // align-items: end;
  }

  &__message {
    color: red;
    
    &--success {
      color: green;
    }
  }

  &__input-container {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    & li {
      width: 100%;
      color: red;
      font-size: 14px;
      padding: 0;
      margin: 0;
      text-align: right;
    }

    &__input-submit {
      padding-right: 20px;
      box-sizing: border-box;
    }
  }



  &__button-back {
    align-self: flex-start;
  }

  &__correctData {
    text-align: left;
    color: grey;
  }
}