.App {
  text-align: center;

  & h1 {
    margin: 0;
  }

  &__Container, &__Header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    min-width: 360px;
  }
}
